{%extends "components/includes/base.html"%}
{%block content%}

<div class="container">
<h1>Comunas</h1>
<div class="row">

	<div class="table-responsive">
		<ul>
				{%for row in queries.main%}
					<li><a href='{{row.comuna.value}}'>{{row.nombreComuna.value}}</li>
				{%endfor%}
		</ul>
	</div>

</div>
	
</div>
{%endblock%}
